<h1>Show</h1>
<div>

<label>Title: <%= @post.title %> </label><br>
<label>Content: <%= @post.content %></label><br>
<label>Likes: <%= @post.likes%></label><br>

</div><br>


<%= link_to "Edit??", edit_post_path(@post) %>
<%= link_to "Index??", posts_path %>

